<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huatec.iot.iotservice.mapper.DevicesMapper">
    <resultMap id="BaseResultMap" type="com.huatec.iot.common.entity.Devices">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="product_id" jdbcType="INTEGER" property="productId"/>
        <result column="product_key" jdbcType="VARCHAR" property="productKey"/>
        <result column="device_name" jdbcType="VARCHAR" property="deviceName"/>
        <result column="device_key" jdbcType="VARCHAR" property="deviceKey"/>
        <result column="create_user_id" jdbcType="INTEGER" property="createUserId"/>
        <result column="activation_time" jdbcType="TIMESTAMP" property="activationTime"/>
        <result column="last_active_time" jdbcType="TIMESTAMP" property="lastActiveTime"/>
        <result column="device_status" jdbcType="TINYINT" property="deviceStatus" />
        <result column="status" jdbcType="TINYINT" property="status" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <resultMap id="associationResultMap" type="com.huatec.iot.common.entity.Devices">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="product_id" jdbcType="INTEGER" property="productId"/>
        <result column="device_name" jdbcType="VARCHAR" property="deviceName"/>
        <result column="device_key" jdbcType="VARCHAR" property="deviceKey"/>
        <result column="create_user_id" jdbcType="INTEGER" property="createUserId"/>
        <result column="activation_time" jdbcType="TIMESTAMP" property="activationTime"/>
        <result column="last_active_time" jdbcType="TIMESTAMP" property="lastActiveTime"/>
        <result column="device_status" jdbcType="TINYINT" property="deviceStatus" />
        <result column="status" jdbcType="TINYINT" property="status" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <association property="products"  javaType="com.huatec.iot.common.entity.Products">
            <id column="product_id" jdbcType="INTEGER" property="id" />
            <result column="product_key" jdbcType="VARCHAR" property="productKey" />
            <result column="product_name" jdbcType="VARCHAR" property="productName" />
            <result column="category_id" jdbcType="INTEGER" property="categoryId" />
            <result column="category_key" jdbcType="VARCHAR" property="categoryKey" />
            <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
            <result column="node_type" jdbcType="TINYINT" property="nodeType" />
            <result column="net_type" jdbcType="TINYINT" property="netType" />
        </association>
    </resultMap>
</mapper>