<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huatec.iot.iotservice.mapper.ExamQuestionMapper">
  <resultMap id="BaseResultMap" type="com.huatec.iot.common.entity.ExamQuestion">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="question_id" jdbcType="VARCHAR" property="questionId" />
    <result column="type" jdbcType="SMALLINT" property="type" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_user_code" jdbcType="VARCHAR" property="createUserCode" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="update_user_code" jdbcType="VARCHAR" property="updateUserCode" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_del" jdbcType="SMALLINT" property="isDel" />
  </resultMap>
</mapper>