<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huatec.iot.iotservice.mapper.ProductsMapper">
  <resultMap id="BaseResultMap" type="com.huatec.iot.common.entity.Products">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="product_key" jdbcType="VARCHAR" property="productKey" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="category_key" jdbcType="VARCHAR" property="categoryKey" />
    <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
    <result column="node_type" jdbcType="TINYINT" property="nodeType" />
    <result column="net_type" jdbcType="TINYINT" property="netType" />
    <result column="data_format" jdbcType="TINYINT" property="dataFormat" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_user_id" jdbcType="INTEGER" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>