<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huatec.iot.iotservice.mapper.TopicsMapper">
  <resultMap id="BaseResultMap" type="com.huatec.iot.common.entity.Topics">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="topic_url" jdbcType="VARCHAR" property="topicUrl" />
    <result column="ability_type" jdbcType="VARCHAR" property="abilityType" />
    <result column="authorization_type" jdbcType="INTEGER" property="authorizationType" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>